/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #FFFFFF;
$body-color: rgb(55, 58, 60);
$link-color: rgb(39, 128, 227);

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

/*-- scss:rules --*/

div.quarto-about-trestles .about-entity {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-right: 1em
}

div.quarto-about-trestles .about-entity .about-links {
    flex-direction: column;
    column-gap: .8em;
    row-gap: 7px;
    flex-wrap: wrap
}

div.quarto-about-trestles .about-entity .about-link {
    font-size: 1.0em;
    padding: .25em .5em;
    border-radius: 4px
}

div.quarto-about-trestles .about-entity .about-link:hover {
    color: #90CAF9
}

.card:hover {
    color: #90CAF9;
}

div.quarto-about-jolla .about-link {
    font-size: 1.0em;
    padding: .25em .5em;
    border-radius: 4px
}

div.quarto-about-jolla .about-link:hover {
    background-color: #90CAF9;
}

/* Make the button stand out more */
.navbar .nav-link .btn {
    padding: 0.5rem 1rem;  /* Increased padding for more height */
    font-size: 0.7rem;
    line-height: 1.2;
    vertical-align: middle;
}

/* Reduce overall navbar height */
.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Optionally make the navbar brand/logo smaller too */
.navbar-logo {
    max-height: 20px;  /* Reduced from 24px */
}

/* Increase horizontal spacing between navbar items */
//.navbar-expand-lg .navbar-nav .nav-link {
//    padding-left: 1rem;   /* Increased from .6rem */
//    padding-right: 1rem;  /* Increased from .6rem */
//}

.navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Ensure all navbar items are vertically centered */
.navbar-nav {
    align-items: center;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
}

/* Remove extra spacing that might be causing alignment issues */
nav .nav-item:not(.compact) {
    padding-top: 0;
}

div.callout-note.callout {
    border-left-color: #2196f3;
    background-color: #ffffff;
}

.callout.callout-style-simple {
    padding: .4em .7em;
    border-left: 5px solid;
    border-right: 1px solid #888888;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}
